.cabeçalho-menu-container-imagem {
    width: 24px;
    height: 24px;
    background-image: url("../img/MenuAberto.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabeçalho-item{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between ;
}

.container{
    display: flex;
    align-items: center;
}

.container-imagem{
    padding: 1em;
}

.lista-menu{
    display: none;

}

.container-botao:checked ~ .lista-menu{
    display: block;
}